 {
    border: 1px solid red;
}
@font-face {
    font-family: 'Undo';
    src: url(edit-undo.brk.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(manrope.zip);
}
body {
    font-family: '';
    margin: 0px;
    color: rgb(48, 48, 48)
}
#header {
    font-family:  'Undo';
    font-size: 62px;
    padding-top: 18px;
    text-align: center;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

#cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border:2px solid rgb(95, 95, 95);
}
.cell {
    box-sizing: border-box;
    border: 1px solid rgba(223, 223, 223, 0.6);
    background-color: white;;
}


#sizeMenu {
    display: flex;
    justify-content: center;
    gap: 48px;
}
#sizeText {
    font-size: 24px;
}
#gridSize {
    -webkit-appearance: none;
    background-color: #d3d3d3;
    outline: none;
    width: 500px;
    height: 40px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: auto;
}
#gridSize:hover {
    opacity: 1;
}
#gridSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background-color: #00ffa2;
    cursor: pointer;
}
#gridSize::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background-color: #04AA6D;
    cursor: pointer;
}